.wrap .card {
    max-width: 800px;
    padding: 20px;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.wrap .card h2 {
    margin-top: 0;
    font-size: 1.3em;
    padding: 0;
}

.wrap code {
    display: inline-block;
    padding: 10px 20px;
    background: #f6f7f7;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    margin: 10px 0;
}

.wrap .form-table {
    margin-top: 20px;
} 